---
title: Practical Color Theory for People Who Code
---

	<section> 
		<h2>Let's build a simple Complementary Color Scheme!</h2>
	</section>

	<section class="first-only">
		<h2>Pick a color</h2>
		<div class="explanation">
			<div class="test first"></div>
		</div>
		<div class="example">

	<%= partial "partials/mini_layout" %>

		</div>
	</section>


	<section class="second-added">
		<h2>Complementary Color</h2>
		<div class="explanation">
			<div class="test second"></div>
		</div>
		<div class="example">
		<%= partial "partials/mini_layout" %>
		</div>
	</section>

	<section class="primary-complementary">
	<h2>Color Relationship Established by Mixing</h2>
		<div class="explanation">
			<div class="test primary"></div>
			<div class="test complement"></div>
		</div>
		<div class="example">
			<%= partial "partials/mini_layout" %>
		</div>
	</section>

	<section class="complementary-neutrals-added">
		<h2>Complementary Neutrals</h2>
		<div class="explanation">
			<div class="test complementary-neutral-1"></div>
			<div class="test complementary-neutral-2"></div>
			<div class="test complementary-neutral-3"></div>
		</div>
		<div class="example">
			<%= partial "partials/mini_layout" %>
		</div>
		</section>

	<section class="primary-neutrals-added">
<h2>Primary Neutrals</h2>
		<div class="explanation">
			<div class="test primary-neutral-1"></div>
			<div class="test primary-neutral-2"></div>
			<div class="test primary-neutral-3"></div>
	</div>
	<div class="example">
		<%= partial "partials/mini_layout" %>
	</div>
	</section>

	<section class="black-and-white-added">
	<h2>Mix a "White" and "Black"</h2>
	<div class="explanation">
		<div class="test white"></div>
		<div class="test black"></div>
	</div>
	<div class="example">
		<%= partial "partials/mini_layout" %>
	</div>
	</section>


<section class="final-colors">
		<h2>Make it pop! Primary Light, primary, and Dark</h2>
		<div class="explanation">	
			<div class="test primary-light"></div>
			<div class="test primary"></div>
			<div class="test primary-dark"></div>
		</div>
		<div class="example">
			<%= partial "partials/mini_layout" %>
		</div>

</section>


<section>
	<h2>More Mixes</h2>
		<div class="test mix-1"></div>
		<div class="test mix-2"></div>
		<div class="test mix-3"></div>
		<div class="test mix-4"></div>
		<div class="test mix-5"></div>
		<div class="test mix-6"></div>
		<div class="test mix-7"></div>
		<div class="test mix-8"></div>
	</section>

<section>
		<h2>Increase Contrast Mixes</h2>
		<div class="test contrast-mix-1"></div>
		<div class="test contrast-mix-2"></div>
		<div class="test contrast-mix-3"></div>
		<div class="test contrast-mix-4"></div>
		<div class="test contrast-mix-5"></div>
		<div class="test contrast-mix-6"></div>
		<div class="test contrast-mix-7"></div>
		<div class="test contrast-mix-8"></div>
	</section>

		<section>
		<h2>Complementary/analogous Adjusted Hue</h2>
			<div class="test analogous"></div>
			<div class="test complementary-analogous"></div>
		</section>

	<section>
		<h2>Complementary/analogous mixes</h2>
		<div class="test complementary-analogous-mix-1"></div>
		<div class="test complementary-analogous-mix-2"></div>
	</section>

	<section>
	<h2>Warm and Cool Grays</h2>
		<div class="test primary-grayscale-1"></div>
		<div class="test complementary-grayscale-1"></div>
	</section>


	<section>
	<h2>Neutrals</h2>
		<div class="test primary-gray"></div>
		<div class="test complimentary-gray"></div>
		<div class="test white"></div>
		<div class="test neutral-gray"></div>
		<div class="test black"></div>
	</section>

</div>

	<section>
		<div class="cat">
			<div class="cat-head">
				<div class="cat-face"></div>
			</div>
		</div>
	</section>
		</div>